<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сервис рассылки{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>

{% block content %}{% endblock %}

<script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- Подключаем Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script> <!-- для русской локализации -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr(".flatpickr-datetime", {
            enableTime: true,  // Включаем выбор времени
            dateFormat: "Y-m-d H:i",  // Формат даты и времени
            time_24hr: true,  // 24-часовой формат
            locale: "ru",  // Русская локализация
            minuteIncrement: 1,  // Шаг минут
            // Дополнительные настройки:
            minDate: "today",  // Минимальная дата - сегодня
            defaultDate: new Date(),  // Текущая дата по умолчанию
            static: true  // Статическое позиционирование календаря
        });
    });
</script>
</body>
</html>