{% extends 'mail_management/base.html' %}

{% block title %}Подробнее о рассылке{% endblock %}

{% block content %}
    {% include 'mail_management/header.html' %}
    <div class="container mt-5">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h5 class="card-title m-0">Рассылка № {{ object.pk }}</h5>
                    </div>
                    <div>
                        <a href="{% url 'mail_management:mailing_update' object.pk %}" class="btn btn-toolbar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="ps-2">
                        <a href="{% url 'mail_management:mailing_delete' object.pk %}" class="btn btn-toolbar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">


                <p class="card-text">
                    <strong>Статус:</strong> {{ object.get_status_display }}<br>
                    <strong>Периодичность:</strong> {{ object.get_frequency_display }}<br>
                    <strong>Первая отправка:</strong> {{ object.first_submission_time }}<br>
                    <strong>Последняя отправка:</strong> {{ object.last_sent|default:"Еще не отправлялась" }}<br>
                    <strong>Конец рассылки:</strong> {{ object.submission_time }}<br>
                    <strong>Получателей:</strong> {{ object.recipients.count }}<br>
                </p>

                <h6>Сообщение:</h6>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.message.email_subject }}</h5>
                        <p class="card-text">{{ object.message.email_body }}</p>
                    </div>
                </div>

                <div class="flex-grow-1">
                    {% if object.status == object.END %}
                        <div class="alert alert-warning">
                            Эта рассылка завершена и не может быть отправлена
                        </div>
                    {% elif not object.can_be_sent %}
                        <div class="alert alert-info">
                            Время отправки этой рассылки еще не наступило
                        </div>
                    {% else %}
                        <form method="post" action="{% url 'mail_management:mailing_send' object.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary mt-2">
                                Отправить сейчас
                            </button>
                        </form>
                    {% endif %}
                    <a href="{% url 'mail_management:mailing_attempts_list' object.pk %}" class="btn btn-info mt-3">
                        Просмотреть попытки отправки
                    </a>
                </div>

            </div>
        </div>
        <a href="{% url 'mail_management:mailing_list' %}" class="btn btn-outline-primary">Назад</a>
    </div>
{% endblock %}