{% extends 'mail_management/base.html' %}

{% block title %}Получатели рассылки{% endblock %}

{% block content %}

    {% include 'mail_management/header.html' %}
    <div class="container mt-5">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Тема письма</th>
                    <th scope="col">Тело письма</th>
                    <th></th>
                </tr>
                </thead>

                {% for object in object_list %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td>{{ object.email_subject }}</td>
                        <td>{{ object.email_body }}</td>
                        <td><a href="{% url 'mail_management:message_detail' object.pk %}"
                               class="card-link">Подробнее</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}